* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow-wrap: break-word;
}

html {
  min-height: 100%;
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.container {
  color: #5e7b7f;
}

.blue {
  background-color: #2a3f50;
  color: white;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

header,
footer {
  display: flex;
  justify-content: space-between;
  margin: 0px 4px;
}

header > span {
  text-transform: uppercase;
  color: white;
  font-size: 32px; 
  font-weight: lighter;
  max-width: 30%;
  padding: 12px 0px 0px;
  border-top: 4px solid #5e7b7f;
}

.container__nav {
  text-align: end;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin: 32px 0px 0px;
}

.container__nav span {
  color: #5e7b7f;
}

nav ul li {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  padding: 12px 8px;
}

li {
  display: inline;
  padding: 12px;
  cursor: pointer;
}

.container__main {
  text-align: center;
  margin: 36px 0px;
}

.container__main h1 {
  font-size: 24px;
  font-weight: normal;
  color: #5e7b7f;
  margin: 0px;
}

.container__main p {
  margin: 0px 120px 20px;
  font-size: 16px;
  font-weight: lighter;
  line-height: 28px;
  max-width: 80%;
}

.container__main button {
  text-transform: uppercase;
  background-color: #2a3f50;
  color: white;
  padding: 16px 28px;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

article {
  margin: 0px 12px;
}

article img {
  width: 100%;
}

article > p:first-child {
  text-transform: uppercase;
  font-size: 16px;
}

article > p:last-child {
  font-size: 16px;
}

footer p {
  color: #5e7b7f;
}

@media screen and (max-width: 700px) {
  * {
    font-size: 12px;
  }

  header > span {
    font-size: 24px;
    max-width: 50%;
  }

  nav ul {
    float: right;
  }

  nav ul li, ul li {
    padding: 8px 12px;
  }

  article > p:nth-child(3) {
    font-size: 16px;
  }

  .main {
    grid-template-columns: none;
  }

  li {
    display: flex;
  }
}

@media screen and (min-width: 2000px) {
  * {
    font-size: 16px;
  }

  .wrapper {
    max-width: 1500px;
  }
  
  header > span {
    font-size: 48px;
  }

  .container__nav span {
    font-size: 32px;
  }

  .container__main  h1{
    font-size: 36px;
  }

  .container__main p {
    font-size: 28px;
  }

  .container__main button {
    font-size: 20px;
  }

  nav ul li, ul li {
    padding: 12px 20px;
  }

  article > p:first-child,
  article > p:last-child {
    font-size: 24px;
  }

  article > p:nth-child(3) {
    font-size: 28px;
  }
}
