* {
  box-sizing: border-box;
}

.hero{
  background-color: rgb(9, 66, 131);
}

footer{
  background-color: rgb(9, 66, 131);
}

ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

li{
  padding: 5px;
}

.header {
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

h3{
  text-align: center;
}

.hero p{
  text-align: center;
}

button{
  position: relative;
  left: 700px;
  margin-bottom: 50px;
}

.wrapper-body{
  margin: auto;
  max-width: 800px;
  display: flex;
  align-items: center;
}

img{
  width: 100%;
  border-radius: 10px;
}

.container{
  padding: 10px;
}

.footer-wrapper{
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}